@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Poppins", cursive;
}

/* new header stylling */
header {
  margin-top: 50px;
  margin-bottom: 130px;
}
.banner-sec {
  margin-top: 50px;
  width: 1320px;
  border-radius: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #000000;
  animation: changebg 5s linear infinite;
}

@keyframes changebg {
  0% {
    background-color: #f37777;
  }
  100% {
    background-color: #000000;
  }
}

.left-banner {
  width: 100%;
  padding: 170px 50px;
  border-radius: 10px;
}
.left-banner h1 {
  font-size: 60px;
  padding-bottom: 20px;
  color: #fff;
}
.left-banner p {
  font-size: 20px;
  padding-bottom: 30px;
  color: #fff;
}
.left-banner a {
  text-decoration: none;
  color: #ffff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
.left-banner a:hover {
  background-color: #f37777;
}

.right-banner {
  width: 100%;
  border-radius: 10px;
}
.right-banner img {
  width: 100%;
}

/* mobile device */
@media screen and (max-width: 576px) {
  .banner-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    animation: changebg 5s linear infinite;
    justify-items: start;
  }

  @keyframes changebg {
    0% {
      background-color: #f37777;
    }
    100% {
      background-color: #000000;
    }
  }
  .left-banner {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
  }
  .left-banner h1 {
    font-size: 50px;
    /* text-align: center; */
  }
  .right-banner {
    width: 100%;
  }
  .right-banner img {
    padding: 30px 30px 0px 30px;
  }
}

/* nav bar & blog styling */
.nav-blog {
  width: 1320px;
  margin: 0 auto;
  display: flex;
}
.left-nav {
  width: 320px;
  height: 320px;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  /* margin-left: 30px; */
}
.nav-btn {
  padding: 20px;
  background-color: #fff;
  margin: 23px;
  text-align: center;
  border-radius: 5px;
}
.active {
  background-color: #f37777;
}
.active:hover {
  background-color: burlywood;
}
.nav-btn a {
  text-decoration: none;
}
.icons {
  width: 312px;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 100%;
  justify-content: space-between;
  padding-left: 15px;
  padding-bottom: 10px;
}
.right-contents {
  width: 1000px;
  margin-left: 25px;
  /* flex-grow: 1; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.right-blog {
  box-shadow: 5px 10px 8px 1px #e1d4d4;
  margin: 10px;
  border-radius: 5px;
}
.right-blog a {
  text-decoration: none;
  color: #000000;
  border: 2px solid goldenrod;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.right-blog p {
  padding: 5px;
}

/* article section mobile device styling */
@media screen and (max-width: 576px) {
  .nav-blog {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .right-contents {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .right-blog {
    width: 100%;
  }

  .left-nav {
    width: 100%;
    height: 320px;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    /* margin-left: 30px; */
    flex-wrap: wrap;
  }
  .blog-img img {
    width: 100%;
  }
  .active {
    background-color: #f37777;
  }
  .active:hover {
    background-color: burlywood;
  }
}
/* ,
,
,,
,
,
,
,,
,
,
, */
/* footer styling */
footer {
  width: 100%;
  height: 450px;
  background-color: black;
}
.footer-text-logo h1 {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-size: 50px;
}
hr {
  width: 80%;
  margin: 0 auto;
}
.hor-line {
  margin-bottom: 30px;
}
.impo-links {
  width: 1320px;
  /* margin-top: 40px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.links a {
  text-decoration: none;
  color: #fff;
}
.links a:hover {
  color: #f37777;
}

/* footer mobile device styling */
@media screen and (max-width: 576px) {
  .impo-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 395px;
    background-color: black;
  }
  footer {
    position: relative;
  }
}
